footer{
	position: fixed;
    bottom: 0;
    
    background-color: $black-color;
    color: $primary-color;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}

footer .footer-left,
footer .footer-center,
footer .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
footer .footer-left{
	width: 40%;
}
 
footer h3{
	color:  $white-color;
    font-size: 2em;
}
 
footer h3 span{
	color:  $primary-color;
}
 
 
footer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
footer .footer-center{
	width: 35%;
}
 
footer .footer-icon {
    height: 2em;
    padding: .1em;
    border-radius: .1em;
    cursor: pointer;
    background-color: $white-color;

    margin-right: 3px;
    margin-bottom: 5px;
}

footer .footer-center p{
	display: inline-block;
    color: $white-color;
    vertical-align: super;
	margin:.4em 0;
}
 
footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:1.5;
}
 
footer .footer-center p a{
	color:  $primary-color;
	text-decoration: none;;
}
 
footer .footer-right{
	width: 20%;
}
 
footer .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
footer .footer-company-about span{
	display: block;
	color:  $white-color;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
footer .footer-icons{
	margin-top: 25px;
}
 
footer .footer-icons a{
	display: inline-block;
 
	color: $white-color;
	text-align: center;
	line-height: 35px;
}
 
 
@media (max-width: 880px) {
 
	footer .footer-left,
	footer .footer-center,
	footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	footer .footer-center i {
		margin-left: 0;
	}
}